html, body {
  height: 100%;
  margin: 0;
  background-color: #171719;
}
body {
  display: grid;
  place-items: center;
  font-family: "Archivo Black", sans-serif;
}

.main h1 {
  margin: 0;
  white-space: nowrap;
  font-size: clamp(24px, 10vw, 120px);
  line-height: 1.1;
  color: #F4F4F4;
}